/* bold */
@font-face {
    font-family: robotFont;
    src: url('../fonts/ROBOTOSLAB-BOLD.TTF');
    font-weight: bold;
}
/* light */
@font-face {
    font-family: robotFont;
    src: url('../fonts/ROBOTOSLAB-LIGHT.TTF');
    font-weight: 400;
}
/* regular */
@font-face {
    font-family: robotFont;
    src: url('../fonts/ROBOTOSLAB-REGULAR.TTF');
    font-weight: normal;
}
/* thin */
@font-face {
    font-family: robotFont;
    src: url('../fonts/ROBOTOSLAB-THIN.TTF');
    font-weight: 300;
}

body {
    font-family: robotFont,Verdana,sans-serif;
    background-color: #f8f8f8;
}

/* common styles */
.header {
    border-bottom: 2px solid #000000;
    text-align: center;
}

.header_logo {
    /*padding-left: 40px;*/
}

.header_storename {
    /*padding-left: 40px;*/
    font-size: 32px;
    font-weight: bold;
}

.header_menu_list {
    padding-left: 0;
    list-style: none;
}

.header_menu_list li {
    display: inline;
}

.header_menu_list a {
    color: #010101;
}

.header_menu_list a:hover {
    color: #e24027;
}

.footer {
    border-top: 2px solid #000000;
}

.dDescription p,.main_page_content p {
    text-align: justify;
    margin: 5px;
}

/*index page styles*/
.champions_photos, .mission_photo {
    text-align: center;
}

/* goods pages styles */

.goods_right_table_part {
    vertical-align: top;
}

.goods_upper_table {
    width: 100%;
}

/*.sDescription {
    font-color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}*/

.dDescription {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.pDetailsList {
    color: #484343;
    font-size: 14px;
    font-weight: 400;
    alignment: center;
    /*line-height: 24px;
    list-style-image: url('../images/goods/icon.png');*/
}

.goodsHeaders {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    font-style: normal;
}

/* catalogues page styles*/
.catalogue {
    text-align: center;
}

.catalogue table {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.goodsElement {
    padding: 10px;
    text-align: center;
    color: #15202A;
}

.goodsElement a {
    color: #15202A;
}

.goodsElement img {
    border: solid 2px #15202A;
    margin: 0;
}

.goodsElement img:hover {
    border: none;
    margin: 2px;
}

.theader_class {
    line-height: 24px;
}

/* element styles */
.productImage img {
    border: solid 2px #15202A;
}

.good_container p::first-letter {
    font-size: 24px;
    font-weight: bold;
    margin-right: 1px;
}

/* contacts page styles*/
#map {
    width: 100%;
    height: 500px;
}

.sexTypeRadio label {
    display: inline-block;
    width: 90px;
    height: 20px;
    text-align: left;
    vertical-align: top;
}

.sexTypeRadio input {
    display: inline-block;
    margin: 0 auto ;
}

.sexTypeRadio {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

input[type="text"], textarea {
    display: block;
    margin: 0;
    width: 50%;
    font-family: robotFont, serif;
    font-size: 14px;
    box-shadow: none;
}

.username_field, .usertopic_field, .contactForm textarea {
    text-transform: capitalize;
}

.usermail_field {

}

.contactForm textarea {
    width: 50%;
    height: 150px;
}

input[type="text"]:focus,  textarea:focus{
    outline: none;
}

.contactForm input[type="text"], .contactForm textarea {
    padding: 5px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

.usermail_field input[type="text"]:focus {
    color: #e24027;
}

.btn-class{
    display: inline-block;
    border:1px solid #bfbfbf;
    color: #8c8c8c;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    font-family: robotFont, serif;
    width: auto;
    height: auto;
    font-size: 14px;
    padding: 5px 20px;
    box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
    -moz-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
    text-shadow: 0 1px 0 #fff;
    background: #f2f2f2 linear-gradient(to top, #f2f2f2, #f2f2f2);
}
.btn-class:hover, .btn-class:active{
    border:1px solid #8c8c8c;
    color: #8c8c8c;
    box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
    -moz-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
    background-color: #f2f2f2;
}